body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    border: 5px solid red;
    background-color: red;
    padding: 10px;
    box-sizing: border-box;
}

.item {
    background-color: yellow;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-column: span 2;
    background-color: blue;
}
